{
  "semi": false,
  "singleQuote": true,
  "useTabs": true,
  "overrides": [
    {
      "files": ["*.json", ".prettier*"],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
